*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background: #1b2a34;
    font-family: 'Jost', sans-serif;
    padding-top: 50px;
}
.logo{
    margin:3px;
}
.nav-links{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 30%;
}
.nav-links li{
    list-style: none;
}
.nav-links .asd{
    color:white;
    text-decoration: none;
    font-weight: medium;
    letter-spacing: 1px;
    font-size: 16px;
}
body{
    background:#1b2a34;
}
.dugme{
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    color:#82f9a1;
    border: #82f9a1  0.125em solid;
    padding:0.25em 1em;
    border-radius: 0.25em;
    text-shadow: 0 0 0.125em currentColor;
    box-shadow: inset 0 0 0.25em 0 currentColor;
}
